/* ========================================
  全体
======================================== */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.admin_wrapper {
    overflow: hidden;
}
.admin_pagination {
    text-align: center;
    margin-top: 50px;
}
.btn_field {
    overflow: hidden;
}
.btn_field input {
    float: left;
    margin-right: 2%;
}
.parts_errormessage {
    color: red;
    font-weight: bold;
}
/* ========================================
  ヘッダー
======================================== */
.admin_header {
    overflow: hidden;
    background-color: #FF6600;
    position: fixed;
    width: 100%;
}
.admin_header a {
    color: white;
}
.admin_header ul {
    float: right;
    overflow: hidden;
}
.admin_header li {
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px 20px 30px;
    border-left: 1px solid white;
}


/* ========================================
  サイドバー
======================================== */
.admin_sidebar {
    float: left;
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: #1D1F21;
    top: 68px;
}
.admin_sidebar a {
    color: white;
    text-decoration: none;
}
.admin_sidebar_title {
    color: white;
    padding: 20px 0 20px 10%;
    font-size: 16px;
    cursor: pointer;
}
.collapse {
    background-color: #2C3B41;
    color: white;
}
.collapsing {
    background-color: #2C3B41;
    color: white;
}
.collapsing li {
    padding: 10px 0 0 15%;
}
.collapsing li i {
    margin-right: 4%;
}
.collapsing li:last-child {
    padding-bottom: 10px;
}
.collapse li {
    padding: 10px 0 0 15%;
}
.collapse li:hover {
    background-color: #BBBBBB;
}
.collapse li i {
    margin-right: 4%;
}
.collapse li:last-child {
    padding-bottom: 10px;
}



/* ========================================
  Top
======================================== */
.admin_main {
    width: 70%;
    margin-top: 80px;
    margin-left: 25%;
    overflow: hidden;
}
.top_ul li {
    float: left;
    padding: 30px 50px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    background-color: green;
}

/* ========================================
  ユーザー情報
======================================== */
.search_box {
    width: 100%;
    border: 1px solid #C1C6C4;
}
.search_box_header {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
.search_box_main {
    margin: 10px 3%;
}

.user_list {
    margin-top: 40px;
}
.user_detail_box {
    margin-top: 40px;
}
