/* ========================================
  全体
======================================== */
.wrapper {
  position: relative;
}
.main {
  background-color: red;
  height: 200px;
  margin: 0 auto;
  width: 90%;
}
h1 {
  margin: 0;
}

.clearfix {
  display: block;
  position: relative;
}

.none {
    display: none;
}

.error_message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.parts_errormessage {
    color: red;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0;
}
a {
	-webkit-tap-highlight-color: rgba(255,255,255,0.5);
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

/* ========================================
  ヘッダー
======================================== */
header {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #C1C6C4;
}


header h1 {
  font-size: 22px;
  font-weight: normal;
  color: #FF6600;
}
.header_left {
  float: left;
  padding: 8px 15px;
  border-right: 1px solid #C1C6C4;
  width: 169px;
}
.header_left img{
    width: 100%;
}
.header_right {
  float: left;
  overflow: hidden;
  height: 55px;
}
.header_right div {
    font-size: 18px;
    padding: 15px;
    color: #525252;
    font-weight: normal;
    border-left: 1px solid #C1C6C4;
}

.header_search {
    float: left;
    position: relative;
}
.header_search .glyphicon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #D6BCAC;
    font-size: 24px;
}
.header_search input {
    height: 55px;
    width: 100%;
    color: black;
    padding-left: 50px;
}
.header_right_list_sp {
    display: none;
}
.header_right_list_pc {
    display: block;
}
.navbar {
    display: none;
}

/* ========================================
  サイドバー
======================================== */
.sidebar {
    width: 32%;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sidebar_ranking_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.sidebar_ranking {
    margin-bottom: 20px;
}
.sidebar_ranking ul {
    margin-left: 2%;
    margin-bottom: 10px;
}
.sidebar_ranking ul li img {
    margin-right: 2%;
}
.sidebar_ranking ul a {
    text-decoration: none;
}
.sidebar_ranking ul li:hover {
    background-color: white;
	opacity: 0.7;
}
.sidebar_ranking ul li i {
    font-size: 32px;
    margin-right: 3%;
}
.sidebar_ranking ul li span {
    vertical-align: top;
}
.sidebar_tag {
    margin-bottom: 30px;
    overflow: hidden;
}
.sidebar_tag p {
    color: #C1C6C4;
    margin: 10px 0;
    float: right;
}
.sidebar_tag p:hover {
    background-color: white;
	opacity: 0.7;
}
.sidebar_tag ul {
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #C1C6C4;
}
.sidebar_tag ul li {
    float: left;
    margin-right: 3%;
    margin-bottom: 10px;
}
.sidebar_tag ul li:hover {
    background-color: white;
	opacity: 0.7;
}
.hash_tag {
    color: #C1C6C4;
}
.sidebar_advertising {
    width: 336px;
    height: 280px;
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 30px;
}
.sidebar_article ul li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #BBBBBB;
}
.sidebar_article ul li:hover {
    background-color: white;
	opacity: 0.7;
}
.sidebar_article_img {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.sidebar_article_content {
    float: left;
    width: 70%;
    height: 60px;
    overflow: hidden;
}
.sidebar_article_content_string {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.sidebar_rankmark_1 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 20px solid gold;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid gold;
}
.sidebar_rankmark_2 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 20px solid #F64F47;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #F64F47;
}
.sidebar_rankmark_3 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 20px solid #1788B7;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #1788B7;
}
.sidebar_rankmark_string {
	color: white;
    position: absolute;
    left: -13px;
    top: -20px;
    font-size: 16px;
    font-weight: bold;
}
@media all and (max-width: 870px) {
    .sidebar_article_img {
        width: 60px;
        height: 60px;
    }
}

/* ========================================
  TOPページ
======================================== */
.top_wrapper {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.top_main {
    width: 63%;
    float: left;
    overflow: hidden;
    margin-bottom: 50px;
}
.top_img {
    width: 100%;
    height: auto;
    margin-top: 54px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.top_img img{
    width: 100%;
    height: auto;
}
.top_img h1 {
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: HiraKakuPro-W6;
}
.top_img input {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 60%;
    left: 43%;
}
.top_register_field {
    display: none;
}
@media all and (max-width: 920px) {
    .top_img input {
        font-size: 12px;
        left: 42%;
    }
}

.top_map {
    width: 100%;
    height: auto;
    padding-top: 68px;
    overflow: hidden;
    padding-bottom: 50px;
    float: left;
}
.map-embed {
    height: 600px;
}
.top_map h2 {
    padding-bottom: 10px;
    font-size: 22px;
}
.top_map_search {
    width: 80%;
    margin-bottom: 20px;
}
.top_map_main {
    width: 100%;
    height: auto;
}
.top_prefectures {
    background-color: #F9F7F4;
    width: 35%;
    float: right;
    margin-top: 122px;
    overflow: hidden;
    height: 600px;
}
.top_region {
    overflow: hidden;
}
.top_region ul {
    overflow: hidden;
    padding-left: 5%;
}
.region_title {
    margin: 5px 0 5px 1%;
    border-left: 5px solid #F7AE20;
    padding-left: 2%;
    font-weight: bold;
}
.prefecture_name {
    float: left;
    padding-right: 2%;
    border-right: 1px solid #DC9D7D;
    margin-right: 2%;
    margin-bottom: 5px;
    color: #446EB7;
    cursor: pointer;
}
.top_region ul li:last-child {
    border: 0;
}
.top_article_list {
    width: 100%;
    float: left;
}
.top_article_list h2 {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.top_article_list ul{
    overflow: hidden;
}
.top_article_list ul li {
    overflow: hidden;
    border-bottom: 1px solid #C1C6C4;
    padding-bottom: 20px;
    padding-top: 20px;
}
.article_list_main {
    overflow: hidden;
}
.article_list_img {
    width: 110px;
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: left;
    margin-right: 3%;
}
.article_list_data {
    width: 77%;
    float: left;
}
.article_list_data_label {
    padding: 2px 10px;
    font-size: 10px;
    margin-right: 2%;
    margin-bottom: 5px;
}
.article_list_data_tag {
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #BBBBBB;
    color: white;
    font-size: 10px;
    margin-left: 2%;
}
.article_list_data_title {
    margin-bottom: 5px;
    overflow: hidden;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
@media all and (max-width: 970px) {
    .article_list_data_title {
        height: 35px;
        -webkit-line-clamp: 2;
    }
    .article_list_img {
        width: 85px;
        height: 85px;
    }
}
.article_list_data_address {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article_list_footer {
    margin: 10px auto 0 auto;
    width: 98%;
}
.article_list_footer i {
    margin-right: 3px;
}
.article_list_footer_good_count {
    margin-right: 5px;
}
.article_list_footer_comment_count {
    margin-right: 10px;
}
.article_list_footer_address {
    margin-right: 5px;
}
#next {
    margin-top: 10px;
}
#prev {
    margin-top: 10px;
}
.marker_img {
	width: 250px;
	height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.marker_title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 14px;
}
.marker_good_field span{
    margin-right: 5px;
}
.marker_good_field i {
    margin-right: 2px;
}

.top_tag_field {
    position: absolute;
    bottom: 0;
}
.top_tag_field span {
    margin-right: 5px;
}
.event_field {
    width: 100%;
    float: left;
    background-color: #F6F5F3;
    margin-top: 50px;
}
.event_field li:hover {
    background-color: white;
	opacity: 0.7;
}
.event_title {
    overflow: hidden;
    width: 95%;
    margin: 0 auto 30px auto;
}
.event_title_left {
    float: left;
    margin: 10px auto;
    width: 15%;
}
.event_title_right {
    float: right;
    height: 20px;
    width: 85%;
    font-weight: bold;
    border-bottom: 3px solid #DFD7CD;
    margin: 0 auto;
}
.event_content {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.event_content li {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;
    border: 1px solid #E7E5E2;
    background-color: white;
    height: 220px;
    word-break: break-all;
}
.event_content li:nth-child(2n) {
    margin-right: 0;
}
.event_content_list_top {
    width: 95%;
    margin: 5px auto 0 auto;
    height: 130px;
    border: 1px solid #E7E5E2;
    overflow: hidden;
    position: relative;
    background-color: #F6F5F3;
    color: #958670;
    -webkit-text-stroke-color: #958670;
    -webkit-text-stroke-width: 1px;
}
.event_content_list_top_title {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 120px;
    word-break: break-all;
}
.event_content_list_top_img {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.event_content_list_bottom {
    width: 95%;
    margin: 10px auto;
}
.event_content_list_bottom p {
    margin-bottom: 2px;
}
/* ========================================
  ログイン画面
======================================== */
.login_box {
  width: 50%;
  margin: 150px auto;
  border: solid 1px #EDEFED;
  position: relative;
  overflow: hidden;
  margin-bottom: 250px;
}

.login_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}
.login_text {
  margin: 20px 4%;
}
.login_btn {
  margin: 20px 4% 0 4%;
}

.password_reset {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.login_message {
  margin: 20px 4%;
}


/* ========================================
  新着記事一覧
======================================== */
.new_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
}
.new_post_wrapper {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 20px;
    border: 1px solid #EDEFED;
}
.new_post_list {
    height: 250px;
    background-color: #BBBBBB;
}
.img_scroll {
    position: absolute;
    z-index: 2;
    top: 48%;
}

.next {
    right: 1%;
}
.prev {
    left: 1%;
}

.img_description {
    height: 100px;
}

.good_field {
    overflow: hidden;
}

.good_field div{
    float: left;
    margin: 1%;
}


/* ========================================
  記事詳細ページ
======================================== */
.article_detail_box {
    overflow: hidden;
    width: 80%;
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.article_img {
    height: auto;
    padding-top: 50px;
    overflow: hidden;
}
.article_detail_nickname_title {
    background-color: #BBBBBB;
    padding: 10px 0;
    padding-left: 3%;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
.article_detail_nickname_title_left {
    float: left;
    width: 70%;
    padding-top: 10px;
}
.article_detail_nickname_title_right {
    float: right;
    padding-right: 3%;
    overflow: hidden;
    width: 30%;
}
.article_detail_nickname_title_right img {
    width: 40px;
    height: 40px;
}
.article_detail_nickname_title_right_img {
    float: right;
    margin-right: 2%;
}
.article_detail_nickname_title_right_name {
    float: right;
    margin-left: 2%;
    margin-top: 5px;
}
.article_img_content {
    background-color: black;
    text-align: center;
    height: auto;
}
.article_img_content img {
    max-width: 85%;
    height: auto;
}
.article_img_footer {
    background-color: #BBBBBB;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.article_img_footer_good_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_good_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}
.article_img_footer_comment_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_comment_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}

.article_detail_description {
    border: 1px solid #C1C6C4;
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 10px 3%;
    border-radius: 0 0 10px 10px;
}

/*//////////////コメント・タグ///////////*/
.article_detail_comment_tag_field {
    width: 100%;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}

/*コメント*/
.article_detail_comment {
    width: 67%;
    height: auto;
    margin-right: 3%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: left;
}
.article_detail_comment_header {
    padding: 10px 0 10px 2%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_comment_body {
    padding: 10px 2%;
    border-bottom: 1px dotted #C1C6C4;
    overflow: hidden;
}

.article_detail_comment_body img{
    float: left;
}

.article_detail_comment_body p {
    color: #BBBBBB;
}

.article_detail_comment_body_content {
    float: left;
    margin-left: 2%;
}


.article_detail_comment_body img {
    width: 50px;
    height: 50px;
}
.article_detail_comment_footer {
    margin: 10px 2%;
}
.article_detail_comment_footer input {
    margin: 10px 0;
}

.article_detail_comment_body_date {
    margin: 0;
    margin-top: 5px;
}

/*タグ*/
.article_detail_tag {
    width: 30%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: right;
}

.article_detail_tag_header {
    padding: 10px 0 10px 5%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_tag_content {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
}
.article_detail_tag_content li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
}

/* ========================================
  タグページ
======================================== */
.tag_wrapper {
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.tag_img {
    width: 100%;
    height: 300px;
    padding-top: 68px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.tag_img h1 {
    color: white;
    margin-top: 70px;
}

.relation_tag {
    width: 100%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    margin-top: 20px;
}

.relation_tag_header {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #C1C6C4;
}

.relation_tag_content {
    width: 90%;
    margin: 10px;
    overflow: hidden;
}
.relation_tag_content a {
    color: black;
}
.relation_tag_content li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
}
.tag_article_list {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.tag_article_list li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #C1C6C4;
    overflow: hidden;
}
.tag_article_list li:hover {
    background-color: white;
    opacity: 0.9;
}
.tag_article_list li:nth-child(3n) {
    margin-right: 0;
}
.tag_article_img {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tag_article_data_left {
    width: 70%;
    float: left;
}
.tag_article_data {
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tag_article_good {
    margin: 10px;
    float: left;
    margin-top: 0;
}
.tag_article_data_right {
    float: right;
    width: 30%;
}
.tag_article_user_img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.tag_article_pagination {
    text-align: center;
}

/* ========================================
  検索ページ
======================================== */
.search_wrapper {
    padding-top: 80px;
}
.search_wrapper h1 {
    width: 80%;
    font-size: 26px;
    margin: 0 auto;
}
.search_wrapper .relation_tag {
    width: 80%;
    margin: 20px auto;
}
.search_result {
    background-color: #D6BCAC;
    min-height: 200px;
}
.search_result_list {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 940px;
}
.search_result_list li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #C1C6C4;
    overflow: hidden;
}
.search_result_list li:hover {
    background-color: white;
    opacity: 0.9;
}
.search_result_list li:nth-child(3n) {
    margin-right: 0;
}
.search_result_img {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.search_result_data_all {
    background-color: white;
    overflow: hidden;
}
.search_result_data_left {
    width: 70%;
    float: left;
}
.search_result_data {
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.search_result_good {
    margin: 10px;
    float: left;
    margin-top: 0;
}
.search_result_data_right {
    float: right;
    width: 30%;
}
.search_result_user_img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.tag_article_pagination {
    text-align: center;
}

/* ========================================
  ランキングページ
======================================== */
.ranking_wrapper {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.ranking_wrapper h1 {
    border-bottom: 2px solid black;
    display: inline-block;
    padding-right: 20px;
}
.ranking_main {
    height: auto;
}
.ranking_main h2{
    margin-top: 40px;
}
.ranking_total {
    margin-top: 20px;
    overflow: scroll;
    position: relative;
    margin-bottom: 40px;
}
.ranking_list {
    width: 900px;
    position: relative;
}
.ranking_list li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #C1C6C4;
    overflow: hidden;
    position: relative;
}
.rankmark_1 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid gold;
	border-right: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid gold;
}
.rankmark_2 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid silver;
	border-right: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid silver;
}
.rankmark_3 {
	color: black;
	position: absolute;
    left: 0px;
	width: 0;
	height: 0;
	border-top: 40px solid #DC9D7D;
	border-right: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #DC9D7D;
}
.rankmark_string {
	color: white;
    position: absolute;
    left: -36px;
    top: -24px;
    font-size: 16px;
    transform: rotate(-45deg);
    font-weight: bold;
}
.ranking_list li:hover {
    background-color: white;
    opacity: 0.9;
}
.ranking_list li:nth-child(3n) {
    margin-right: 0;
}

.ranking_tag_field {
    width: 100%;
    overflow: hidden;
}
.ranking_tag_field li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
    cursor: pointer;
}
.select_ranking_tag {
    background-color: #FF6600 !important;
    color: white;
}
#prefecture {
    width: 20%;
}
#feeling {
    width: 20%;
}


/* ========================================
  マイページ
======================================== */

.mypage_list {
  margin-top: 50px;
  background-color: rgb(243,242,237);
}

.mypage_list .status {
    width: 100%;
    padding: 20px 10%;
    overflow: hidden;
    border-bottom: 1px solid #444;
    background-color: white;
}

.mypage_list .status #image {
    float: left;
}

.mypage_list .status #image img {
    width: 100px;
    height: 100px;
}

.mypage_list .status #name {
    height: 42px;
    margin: 28px 0 0 120px;
}

.mypage_list .status #name p {
    font-size: 30px;
    margin: 0;
}

.mypage_list .status .menu {
    margin: 10px 0 0 120px;
    overflow: hidden;
}

.mypage_list .status .menu .selected{
    background-color: #dbd8c8;
}

.mypage_list .status .menu ul li {
    border-left: 1px solid #444;
    padding: 0 5px;
    float: left;
}

.mypage_list .status .menu ul li a {
    padding: 5px;
}

.mypage_list .status .menu ul li a:hover {
    text-decoration: none;
    background-color: #dbd8c8;
    transition: .2s;
}

.mypage_list .main-content {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.mypage_list .timeline{
    width: 60%;
    height: 1500px;
    float: left;
}

.mypage_list .timeline .tweet{
    width: 95%;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
}

.mypage_list .timeline .no-tweets{
    width: 95%;
    height: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
}

.mypage_list .timeline .no-tweets p {
    text-align: center;
    font-size: 20px;
    padding-top: 80px;
}

.mypage_list .timeline .tweet .tweet-header{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(243,242,237);
    overflow: hidden;
}

.mypage_list .tweet-header #tweet-header-image {
    float: left;
}

.mypage_list .tweet-header #tweet-header-image img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.mypage_list .tweet-header #tweet-header-status {
    float: left;
}

.mypage_list .tweet-header #tweet-header-name {
    height: 15px;
    margin: 3px 0 0 15px;
}

.mypage_list .tweet-header #tweet-header-name p {
    font-size: 18px;
    margin: 0;
}

.mypage_list .tweet-header #tweet-header-date {
    margin: 8px 0 0 15px;
}

.mypage_list .tweet-header #tweet-header-date p {
    font-size: 12px;
    color: gray;
    margin: 0;
}

.mypage_list .tweet-header #tweet-header-icon {
    float: right;
}

.mypage_list .timeline .tweet .tweet-header a{
    float: right;
    padding: 5px 10px;
    margin-top: 13px;
}

.mypage_list .timeline .tweet .tweet-main{
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.mypage_list .timeline .tweet .tweet-main .tweet-tags{
    height: 40px;
    overflow: hidden;
    background-color: white;
}

.mypage_list .timeline .tweet .tweet-main .tweet-tags li{
    float: left;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 7px;
    padding: 5px;
    border: 1px solid #dbd8c8;
    border-radius: 3px;
}

.mypage_list .timeline .tweet .tweet-main .tweet-image{
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.mypage_list .timeline .tweet .tweet-main .tweet-footer {
    background-color: #BBBBBB;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.mypage_list .timeline .tweet .tweet-main .tweet-episode {
    background-color: white;
}

.mypage_list .timeline .tweet .tweet-main .tweet-episode p {
    margin: 0;
    padding: 5px 10px;
}

.mypage_list .timeline .tweet .tweet-comment{
    width: 100%;
    height: 30px;
    border-top: 2px solid rgb(243,242,237);
    overflow: hidden;
}

.mypage_list .side {
    width: 35%;
    float: right;
    position: relative;
}

.mypage_list .side .sidebar {
    width: 100%;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
}

.mypage_list .side .sidebar .empty-content {
    width: 90%;
    height: 20px;
}

.mypage_list .side .sidebar .side-content {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(243,242,237);
}

.mypage_list .good-timeline {
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}

.mypage_list .good-timeline p {
    text-align: center;
    font-size: 20px;
}

.mypage_list .tag-timeline {
    width: 80%;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}

.mypage_list .tag-timeline p {
    text-align: center;
    font-size: 20px;
}

/* ========================================
  記事投稿
======================================== */
.a_p_box {
  width: 90%;
  height: auto;
  margin: 100px auto 30px auto;
  overflow: hidden;
}

.photo_zone_text {
  font-size: 18px;
  font-weight: bold;
}

.a_p_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}
.a_p_box_left {
    width: 47%;
    overflow: hidden;
    float: left;
}
.a_p_box_right {
    width: 47%;
    overflow: hidden;
    float: right;
}
.a_post_episode {
    margin-bottom: 50px;
}
.a_p_description {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.a_p_description_title {
    margin-right: 1%;
}
.need_mark {
    padding: 2px 15px;
    font-size: 12px;
}
.photo_feeling {
    margin-bottom: 10px;
    overflow: hidden;
}
.photo_feeling input{
    display: none;
}
.photo_feeling label{
    display: block;
    float: left;
    cursor: pointer;
    width: 30%;
    margin: 0;
    padding: 12px 5px;
    border-right: 1px solid #abb2b7;
    background: #bdc3c7;
    color: #555e64;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
.photo_feeling label:first-of-type{
    border-radius: 3px 0 0 3px;
}
.photo_feeling label:last-of-type{
    border-right: 0px;
    border-radius: 0 3px 3px 0;
}
.photo_feeling input[type="radio"]:checked + label {
    background-color: #FA4000;
    color: #fff;
}
.photo_age {
    margin-bottom: 10px;
    overflow: hidden;
}
.photo_age input{
    display: none;
}
.photo_age label{
    display: block;
    float: left;
    cursor: pointer;
    width: 30%;
    margin: 0;
    padding: 12px 5px;
    border-right: 1px solid #abb2b7;
    background: #bdc3c7;
    color: #555e64;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
.photo_age label:first-of-type{
    border-radius: 3px 0 0 3px;
}
.photo_age label:last-of-type{
    border-right: 0px;
    border-radius: 0 3px 3px 0;
}
.photo_age input[type="radio"]:checked + label {
    background-color: #0063BA;
    color: #fff;
}
.a_post_tag_field {
    overflow: hidden;
}
.a_p_map_input {
    overflow: hidden;
    margin-bottom: 10px;
}
#address {
    float: left;
    width: 83%;
    border-radius: 4px 0 0 4px;
}
#map_button {
    width: 17%;
    float: left;
    border-radius: 0 4px 4px 0;
}
#addImages {
  min-height: 300px;
}

#upload_btn {
  width: 20%;
  display: block;
  margin: 20px auto;
}
#tag_text {
    float: left;
    width: 83%;
    border-radius: 4px 0 0 4px;
}
#add_tag {
    width: 17%;
    float: left;
    background-color: gray;
    color: white;
    border-radius: 0 4px 4px 0;
}
#new_tag_field {
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 10px;
}
#new_tag_placeholder {
    color: #999999;
    padding-left: 1%;
}
#upload_btn {
    background-color: #FA4000;
    border: 0;
    font-size: 18px;
    margin-bottom: 50px;
}
.selected_tag input {
    display: none;
}
.selected_tag {
    border-radius: 2px;
    background-color: gray;
    display: inline-block;
    padding: 2px 10px;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.selected_tag label {
    margin-bottom: 0;
}
.tag_delete {
    cursor: pointer;
}
.profile_tag_field {
    overflow: hidden;
    margin-bottom: 30px;
}
.profile_tag {
    border-radius: 2px;
    background-color: gray;
    padding: 4px 10px;
    margin-left: 1%;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    float: left;
}
.profile_tag i {
    font-size: 18px;
    font-weight: bold;
}
/* ========================================
  イベントページ
======================================== */
.e_img {
    width: 90%;
    height: 400px;
    margin: 55px auto 50px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.e_data {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.e_title {
    font-size: 30px;
    margin-bottom: 10px;
}
.e_date {
    font-size:18px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}
.e_description {
    font-size: 16px;
    margin-bottom: 40px;
}
.e_post_field {
    width: 100%;
    height: 300px;
    background-color: #D6BCAC;
}
.e_post_field_btn {
    text-align: center;
    padding-top: 30px;
}
.e_post_field_btn input {
    font-size: 24px;
    padding: 20px 5%;
}
.e_post {
    margin: 30px auto;
    width: 90%;
    overflow: hidden;
}
.e_post li  {
    float: left;
    margin-right: 1%;
}
.e_post_img {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.other_event_field {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
.other_event_title {
    text-align: center;
    font-size: 26px;
    padding: 50px 0;
}

.e_content {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.e_content li {
    float: left;
    width: 25%;
    margin-right: 2%;
    margin-bottom: 20px;
    border: 1px solid #E7E5E2;
    background-color: white;
    height: 150px;
    word-break: break-all;
}
.e_content li:nth-child(2n) {
    margin-right: 0;
}
.e_content_list_top {
    width: 95%;
    margin: 5px auto 0 auto;
    height: 85px;
    border: 1px solid #E7E5E2;
    overflow: hidden;
    position: relative;
    background-color: #F6F5F3;
    color: #958670;
    -webkit-text-stroke-color: #958670;
    -webkit-text-stroke-width: 1px;
}
.e_content_list_top_title {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 120px;
    word-break: break-all;
}
.e_content_list_top_img {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.e_content_list_bottom {
    width: 95%;
    margin: 10px auto;
}
.e_content_list_bottom p {
    margin-bottom: 2px;
}

.e_requirements {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 40px;
}
.e_requirements_title {
    font-size: 32px;
    margin: 30px 0;
}
.e_requirements_content_left {
    float: left;
    width: 30%;
    font-size: 22px;
    text-align: left;
}
.e_requirements_content_right {
    float: right;
    width: 70%;
    text-align: left;
}
.e_requirements_content {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding: 30px 2%;
    border-top: 1px solid black;
}
.e_requirements ul li:last-child {
    border-bottom: 1px solid black;
}


/* ========================================
  フッター
======================================== */
footer {
  width: 100%;
  color: white;
  background-position: center;
}
footer a {
    color: white
}
footer a:hover {
    color: white;
}
.footer_data {
    color: white;
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: hidden;
}
.footer_title {
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 50px;
    border-bottom: 1px solid white;
    display: inline-block;
}
.footer_data_list li {
    margin-top: 5px;
}
.footer_data_list {
    float: left;
    margin-right: 12%;
}
.footer_c {
    text-align: center;
    padding-bottom: 50px;
}
.footer_c p {
    margin: 0;
}



/*//////////////////////////////
// タブレット用
////////////////////////////////*/
@media all and (max-width: 768px) {

    /*ヘッダー*/
    .header_left h1 {
        display: none;
    }
    .header_left {
        display: none;
    }
    .header_right {
        width: 50px;
        padding: 15px 20px 10px 0;
        border: 0;
        float: right;
        height: 46px;
    }
    .header_right_list_pc {
        display: none;
    }
    .header_right_list_sp {
        display: block;
        padding-left: 10%;
        padding-top: 5px
    }
    .header_search {
        float: left;
        margin: 5px 0 5px 6%;
        height: 36px;
    }
    .header_search input {
        height: 36px;
        border-radius: 10px;
        border: 1px solid #C1C6C4;
    }
    .header_search .glyphicon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #D6BCAC;
        font-size: 20px;
    }
    .navbar {
        display: block;
    }
    .navbar-toggle {
        float: right;
    }
    .offcanvas-toggle .icon-bar {
        background: #FF6600;
        width: 25px;
        height: 3px;
    }
    .navbar-offcanvas {
        padding-top: 100px;
        padding-left: 50px;
        border: 1px solid #23282D;
    }
    .navbar-offcanvas li {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
    .navbar-offcanvas li:hover {
        color: #FF6600;
    }
    .navbar-toggle {
        display: block;
        padding: 0;
        margin: 0;
    }

    /*サイドバー*/
    .sidebar {
        float: none;
        width: 100%;
    }
    .sidebar_advertising {
        width: 580px;
        height: 60px;
    }
    .sidebar_article_img {
        width: 110px;
        height: 110px;
    }
    .sidebar_article_content {
        width: 70%;
        height: 110px;
        overflow: hidden;
    }
    .sidebar_article_content_string {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    /*トップページ*/
    .top_main {
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }
    .top_img {
        margin-top: 46px;
    }
    .top_img input {
        display: none;
    }
    @media all and (max-width: 640px) {
        .top_img input {
            left: 40%;
            font-size: 12px;
        }
    }
    @media all and (max-width: 580px) {
        .top_img input {
            left: 40%;
            font-size: 10px;
        }
    }
    .top_register_field {
        display: block;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 20px 0;
    }
    .top_register_field input {
        width: 50%;
        font-size: 20px;
    }
    .top_map {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    .top_map_search {
        width: 100%;
    }
    .top_prefectures {
        float: none;
        width: 100%;
        margin-top: 0px;
        height: auto;
    }
    .top_article_list {
        float: none;
        width: 100%;
        padding: 0;
    }
    .top_article_list ul li {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top_article_list ul li:last-child {
        margin-bottom: 10px;
    }
    .article_list_img {
        height: 110px;
        width: 110px;
    }
    .article_list_data_title {
        height: 60px;
        -webkit-line-clamp: 3;
    }
    @media all and (max-width: 612px) {
        .article_list_img {
            height: 90px;
            width: 90px;
        }
        .article_list_data_title {
            height: 40px;
            -webkit-line-clamp: 2;
        }
        .sidebar_article_img {
            width: 90px;
            height: 90px;
        }
        .sidebar_article_content {
            width: 70%;
            height: 80px;
            overflow: hidden;
        }
        .sidebar_article_content_string {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }

    }
    @media all and (max-width: 500px) {
        .article_list_img {
            height: 80px;
            width: 80px;
        }
        .article_list_data_title {
            height: 40px;
            -webkit-line-clamp: 2;
        }
        .sidebar_article_img {
            width: 80px;
            height: 80px;
        }
        .sidebar_article_content {
            width: 70%;
            height: 80px;
            overflow: hidden;
        }
        .sidebar_article_content_string {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }
    .map-embed {
        height: 300px;
    }

    /*ログイン*/
    .login_box {
        width: 70%;
        margin-top: 100px;
    }

    /*記事詳細ページ*/
    .article_detail_box {
        width: 90%;
        padding-top: 50px;
    }
    .article_detail_comment {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .article_detail_tag {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    /*タグページ*/
    .tag_article_list li {
        width: 47%;
        margin-right: 6%;
    }
    .tag_article_list li:nth-child(3n) {
        margin-right: 6%;
    }
    .tag_article_list li:nth-child(2n) {
        margin-right: 0;
    }

    /*検索ページ*/
    .search_result_list li {
        width: 47%;
        margin-right: 6%;
    }
    .search_result_list li:nth-child(3n) {
        margin-right: 6%;
    }
    .search_result_list li:nth-child(2n) {
        margin-right: 0;
    }

    /*記事投稿ページ*/
    .a_p_box_left {
        width: 100%;
        float: none;
    }
    .a_p_box_right {
        width: 100%;
        float: none;
    }
}



/*//////////////////////////////
// スマホ用
////////////////////////////////*/

@media all and (max-width: 480px) {

    /*ヘッダー*/
    .header_right {
        padding-right: 15px;
    }
    .header_search {
        margin-left: 3%;
    }

    /*トップページ*/
    .top_wrapper {
    	width: 95%;
    }
    .article_list_img {
        height: 70px;
        width: 70px;
    }
    .article_list_data_title {
        height: 35px;
        -webkit-line-clamp: 2;
    }
    .top_img h1 {
        font-size: 24px;
        margin-top: 30px;
    }
    .top_img input {
        font-weight: bold;
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        top: 54%;
        left: 35%;
    }
    .top_register_field input {
        width: 50%;
        font-size: 16px;
    }
    .event_title_left {
        width: 20%;
    }
    .event_title_right {
        width: 80%;
    }
    .event_content li {
        float: none;
        width: 100%;
    }
    /*サイドバー*/
    .sidebar_article_img {
        width: 60px;
        height: 60px;
    }
    .sidebar_article_content {
        width: 70%;
        height: 60px;
        overflow: hidden;
    }
    .sidebar_article_content_string {
        -webkit-line-clamp: 3;
    }
    .sidebar_rankmark_1 {
    	border-top: 15px solid gold;
    	border-right: 15px solid transparent;
    	border-bottom: 15px solid transparent;
    	border-left: 15px solid gold;
    }
    .sidebar_rankmark_2 {
    	border-top: 15px solid #F64F47;
    	border-right: 15px solid transparent;
    	border-bottom: 15px solid transparent;
    	border-left: 15px solid #F64F47;
    }
    .sidebar_rankmark_3 {
    	border-top: 15px solid #1788B7;
    	border-right: 15px solid transparent;
    	border-bottom: 15px solid transparent;
    	border-left: 15px solid #1788B7;
    }
    .sidebar_rankmark_string {
        left: -10px;
        top: -15px;
        font-size: 12px;
    }
    @media all and (max-width: 320px) {
        .article_list_img {
            height: 60px;
            width: 60px;
        }
    }

    /*ログイン*/
    .login_box {
        width: 80%;
        margin-top: 80px;
    }

    /*タグページ*/
    .tag_article_list li {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #C1C6C4;
    }
    .tag_img {
        height: 200px;
    }
    .tag_img h1 {
        margin-top: 40px;
    }

    /*検索ページ*/
    .search_result_list li {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #C1C6C4;
    }
    .search_wrapper h1 {
        font-size: 18px;
    }

    /*ランキングページ*/
    .ranking_list {
        width: 750px;
        position: relative;
    }
    .ranking_list li {
        width: 240px;
        margin-right: 10px;
    }
    #prefecture {
        width: 50%;
    }
    #feeling {
        width: 50%;
    }

    /*フッター*/
    .footer_data {
        margin-bottom: 30px;
    }
    .footer_data_list {
        margin-bottom: 40px;
    }

    /*記事投稿ページ*/
    #upload_btn {
        font-size: 16px;
        font-weight: bold;
        width: 30%;
    }
}
