/* ========================================
  全体
======================================== */
.wrapper {
  position: relative;
}
.main {
  background-color: red;
  height: 200px;
  margin: 0 auto;
  width: 90%;
}
h1 {
  margin: 0;
}

.clearfix {
  display: block;
  position: relative;
}

.none {
    display: none;
}

.error_message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.parts_errormessage {
    color: red;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0;
}
a {
	-webkit-tap-highlight-color: rgba(255,255,255,0.5);
}

/* ========================================
  ヘッダー
======================================== */
header {
  width: 100%;
  height: auto;
  background-color: #FF6600;
  color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
}

header a {
  color: white;
}

header h1 {
  font-size: 22px;
  margin: 15px 5%;
  font-weight: bold;
}
.header_left {
  float: left;
  width: 30%;
}
.header_right {
  float: right;
  overflow: hidden;
  width: 70%;
}

.header_right li {
  float: right;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 3%;
  border-left: 1px solid white;
}
.header_right li:first-child {
  margin-right: 0;
}
.header_right li:last-child {
  margin-right: 0;
  border: 0;
}
.header_search {
    padding-top: 10px;
    width: 30%;
    float: right;
}
.header_right_list_sp {
    display: none;
}
.header_right_list_pc {
    display: block;
}
.navbar {
    display: none;
}

/* ========================================
  TOPページ
======================================== */
.top_img {
    width: 100%;
    height: 450px;
    padding-top: 68px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.top_img h1 {
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: HiraKakuPro-W6;
}
.top_img input {
    font-weight: bold;
    font-size: 18px;
}
.top_map {
    width: 65%;
    height: auto;
    padding-top: 68px;
    overflow: hidden;
    padding-bottom: 50px;
    float: right;
}
.map-embed {
    height: 600px;
}
.top_map h2 {
    padding-bottom: 10px;
    font-size: 22px;
}
.top_map_search {
    width: 80%;
    margin-bottom: 20px;
}
.top_map_main {
    width: 100%;
    height: auto;
}
.top_article_list {
    width: 30%;
    padding-top: 68px;
    float: left;
}
.top_article_list h2 {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.top_article_list ul{
    overflow: hidden;
}
.top_article_list ul li {
    overflow: hidden;
    border-bottom: 1px solid #C1C6C4;
    padding-bottom: 20px;
    padding-top: 20px;
}
.article_list_img {
    width: 20%;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: left;
    margin-right: 3%;
}
@media all and (max-width: 950px) {
    .article_list_img {
        height: 50px;
    }
}
.article_list_data {
    width: 77%;
    float: left;
}
.article_list_data {

}
.article_list_data_title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article_list_data_address {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.marker_img {
	width: 250px;
	height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.marker_title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 14px;
}
.marker_good_field span{
    margin-right: 5px;
}
.marker_good_field i {
    margin-right: 2px;
}

.top_tag_field {
    position: absolute;
    bottom: 0;
}
.top_tag_field span {
    margin-right: 5px;
}

/* ========================================
  ログイン画面
======================================== */
.login_box {
  width: 50%;
  margin: 150px auto;
  border: solid 1px #EDEFED;
  position: relative;
  overflow: hidden;
  margin-bottom: 250px;
}

.login_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}
.login_text {
  margin: 20px 4%;
}
.login_btn {
  margin: 20px 4% 0 4%;
}

.password_reset {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.login_message {
  margin: 20px 4%;
}


/* ========================================
  新着記事一覧
======================================== */
.new_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
}
.new_post_wrapper {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 20px;
    border: 1px solid #EDEFED;
}
.new_post_list {
    height: 250px;
    background-color: #BBBBBB;
}
.img_scroll {
    position: absolute;
    z-index: 2;
    top: 48%;
}

.next {
    right: 1%;
}
.prev {
    left: 1%;
}

.img_description {
    height: 100px;
}

.good_field {
    overflow: hidden;
}

.good_field div{
    float: left;
    margin: 1%;
}
.good_field_text {
}
.good_field_icon {
}


/* ========================================
  記事詳細ページ
======================================== */
.article_detail_box {
    overflow: hidden;
    width: 80%;
    padding-top: 70px;
    margin: 0 auto;
}

.article_img {
    height: auto;
    padding-top: 50px;
    overflow: hidden;
}
.article_detail_nickname_title {
    background-color: #BBBBBB;
    padding: 10px 0;
    padding-left: 3%;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
.article_detail_nickname_title_left {
    float: left;
    width: 70%;
    padding-top: 10px;
}
.article_detail_nickname_title_right {
    float: right;
    padding-right: 3%;
    overflow: hidden;
    width: 30%;
}
.article_detail_nickname_title_right img {
    width: 40px;
    height: 40px;
}
.article_detail_nickname_title_right_img {
    float: right;
    margin-right: 2%;
}
.article_detail_nickname_title_right_name {
    float: right;
    margin-left: 2%;
    margin-top: 5px;
}
.article_img_content {
    background-color: black;
    text-align: center;
    height: auto;
}
.article_img_content img {
    max-width: 85%;
    height: auto;
}
.article_img_footer {
    background-color: #BBBBBB;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.article_img_footer_good_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_good_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}
.article_img_footer_comment_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_comment_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}

.article_detail_description {
    border: 1px solid #C1C6C4;
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 10px 3%;
    border-radius: 0 0 10px 10px;
}

/*//////////////コメント・タグ///////////*/
.article_detail_comment_tag_field {
    width: 100%;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}

/*コメント*/
.article_detail_comment {
    width: 67%;
    height: auto;
    margin-right: 3%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: left;
}
.article_detail_comment_header {
    padding: 10px 0 10px 2%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_comment_body {
    padding: 10px 2%;
    border-bottom: 1px dotted #C1C6C4;
    overflow: hidden;
}

.article_detail_comment_body img{
    float: left;
}

.article_detail_comment_body p {
    color: #BBBBBB;
}

.article_detail_comment_body_content {
    float: left;
    margin-left: 2%;
}


.article_detail_comment_body img {
    width: 50px;
    height: 50px;
}
.article_detail_comment_footer {
    margin: 10px 2%;
}
.article_detail_comment_footer input {
    margin: 10px 0;
}

.article_detail_comment_body_date {
    margin: 0;
    margin-top: 5px;
}

/*タグ*/
.article_detail_tag {
    width: 30%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: right;
}

.article_detail_tag_header {
    padding: 10px 0 10px 5%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_tag_content {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
}
.article_detail_tag_content li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
}

/* ========================================
  タグページ
======================================== */
.tag_wrapper {
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
}
.tag_img {
    width: 100%;
    height: 300px;
    padding-top: 68px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.tag_img h1 {
    color: white;
    margin-top: 70px;
}

.relation_tag {
    width: 100%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    margin-top: 20px;
}

.relation_tag_header {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #C1C6C4;
}

.relation_tag_content {
    width: 90%;
    margin: 10px;
    overflow: hidden;
}
.relation_tag_content a {
    color: black;
}
.relation_tag_content li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
}
.tag_article_list {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.tag_article_list li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 10px;
    float: left;
    border: 1px solid #C1C6C4;
    overflow: hidden;
}
.tag_article_list li:hover {
    background-color: white;
    opacity: 0.9;
}
.tag_article_list li:nth-child(3n) {
    margin-right: 0;
}
.tag_article_img {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tag_article_data_left {
    width: 70%;
    float: left;
}
.tag_article_data {
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tag_article_good {
    margin: 10px;
    float: left;
    margin-top: 0;
}
.tag_article_data_right {
    float: right;
    width: 30%;
}
.tag_article_user_img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.tag_article_pagination {
    text-align: center;
}
/* ========================================
  マイページ
======================================== */
.mypage_list {
  margin-top: 100px;
}

/* ========================================
  記事投稿
======================================== */
.a_p_box {
  width: 70%;
  height: auto;
  margin: 100px auto;
}

.photo_zone_text {
  font-size: 18px;
  font-weight: bold;
}

.a_p_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}

#addImages {
  margin-top: 30px;
}

#upload_btn {
  width: 20%;
  display: block;
  margin: 20px auto;
}

/* ========================================
  フッター
======================================== */
footer {
  width: 100%;
  background-color: #FF6600;
  color: white;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 0;
  padding: 20px 0;
}



/*//////////////////////////////
// タブレット用
////////////////////////////////*/
@media all and (max-width: 768px) {

    /*ヘッダー*/
    .header_left h1 {
        display: none;
    }
    .header_left {
        width: 15%;
    }
    .header_right {
        width: 85%;
    }
    .header_right_list_pc {
        display: none;
    }
    .header_right_list_sp {
        display: block;
        padding-left: 10%;
        padding-top: 5px
    }
    .header_search {
        width: 85%;
        float: left;
        padding-bottom: 10px;
        padding-left: 2%;
    }
    .navbar {
        display: block;
    }
    .navbar-toggle {
        float: left;
    }
    .offcanvas-toggle .icon-bar {
        background: white;
        width: 25px;
        height: 3px;
    }
    .navbar-offcanvas {
        padding-top: 100px;
        padding-left: 50px;
        border: 1px solid #23282D;
    }
    .navbar-offcanvas li {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
    .navbar-offcanvas li:hover {
        color: #FF6600;
    }
    .navbar-toggle {
        display: block;
    }

    /*トップページ*/
    .top_map {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    .top_map_search {
        width: 100%;
    }
    .top_article_list {
        float: none;
        width: 100%;
        padding: 0;
    }
    .top_article_list ul li {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top_article_list ul li:last-child {
        margin-bottom: 10px;
    }
    .article_list_img {
        height: 80px;
        width: 80px;
    }
    .map-embed {
        height: 300px;
    }

    /*ログイン*/
    .login_box {
        width: 70%;
        margin-top: 100px;
    }

    /*記事詳細ページ*/
    .article_detail_box {
        width: 90%;
        padding-top: 50px;
    }
    .article_detail_comment {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .article_detail_tag {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    /*タグページ*/
    .tag_article_list li {
        width: 47%;
        margin-right: 6%;
        margin-bottom: 10px;
        float: left;
        border: 1px solid #C1C6C4;
    }
    .tag_article_list li:nth-child(2n) {
        margin-right: 0;
    }
}



/*//////////////////////////////
// スマホ用
////////////////////////////////*/

@media all and (max-width: 480px) {

    /*トップページ*/
    .article_list_img {
        height: 50px;
        width: 50px;
    }
    .top_img {
        height: 300px;
    }
    .top_img h1 {
        font-size: 24px;
        margin-top: 30px;
    }
    .top_img input {
        font-weight: bold;
        font-size: 14px;
    }

    /*ログイン*/
    .login_box {
        width: 80%;
        margin-top: 80px;
    }

    /*タグページ*/
    .tag_article_list li {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #C1C6C4;
    }
    .tag_img {
        height: 200px;
    }
    .tag_img h1 {
        margin-top: 40px;
    }
}
