/* ========================================
  全体
======================================== */
.wrapper {
  position: relative;
}
.main {
  background-color: red;
  height: 200px;
  margin: 0 auto;
  width: 90%;
}
h1 {
  margin: 0;
}

.clearfix {
  display: block;
  position: relative;
}

.none {
    display: none;
}

.error_message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.parts_errormessage {
    color: red;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0;
}

/* ========================================
  ヘッダー
======================================== */
header {
  width: 100%;
  height: auto;
  background-color: #FF6600;
  color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
}

header a {
  color: white;
}

header h1 {
  font-size: 26px;
  margin: 20px 5%;
  font-weight: bold;
}
.header_left {
  float: left;
  width: 30%;
}
.header_right {
  float: right;
  overflow: hidden;
  width: 70%;
}

.header_right li {
  float: right;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 3%;
  border-left: 1px solid white;
}
.header_right li:first-child {
  margin-right: 0;
}
.header_right li:last-child {
  margin-right: 0;
  border: 0;
}

/* ========================================
  TOPページ
======================================== */
.top_img {
    width: 100%;
    height: 450px;
    padding-top: 68px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.top_img h1 {
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: HiraKakuPro-W6;
}
.top_img input {
    font-weight: bold;
    font-size: 18px;
}
.top_map {
    width: 100%;
    height: auto;
    padding-top: 68px;
    overflow: hidden;
    padding-bottom: 50px;
    border-bottom: 1px solid #C1C6C4;
}
.top_map h2 {
    padding-bottom: 10px;
    font-size: 22px;
}
.top_map_left {
    width: 70%;
    height: auto;
    float: left;
}
.top_map_right {
    width: 30%;
    height: auto;
    float: right;
}
.keyword_search_text {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 2%;
    text-align: center;
}
.keyword_search {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.place_search_text {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 2%;
    text-align: center;
}
.place_search {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search_submit {
    width: 30%;
    margin: 30px auto;
    display: block;
}

.top_description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.top_photo_list {
  list-style: none;
  display: table;
  margin-top: 50px;
  padding: 0;
  width: 100%;
}

.top_photo_list_li {
  display: table-cell;
}

.top_photo_list_li img{
  width: 100%;
}

.top_article_list {
    padding-top: 30px;
}
.top_article_list h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.top_article_list ul{
    overflow: hidden;
}
.top_article_list ul li {
    overflow: hidden;
    border-top: 1px solid #C1C6C4;
}
.top_article_list_img {
    width: 30%;
    height: 200px;
    margin: 20px 2%;
    float: right;
}
.top_article_list_left {
    width: 66%;
    height: 200px;
    margin: 20px 0;
    float: left;
}
.top_article_list_left_left {
    float: left;
    font-size: 18px;
    padding-left: 2%;
}
.top_article_list_left_right {
    float: left;
    margin-left: 5%;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.top_article_title {
    margin-bottom: 10px;
}

.marker_img {
	width: 250px;
	height: 170px;
}
.marker_title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 14px;
}
.marker_good_field span{
    margin-right: 5px;
}
.marker_good_field i {
    margin-right: 2px;
}

.top_tag_field {
    position: absolute;
    bottom: 0;
}
.top_tag_field span {
    margin-right: 5px;
}

/* ========================================
  ログイン画面
======================================== */
.login_box {
  width: 50%;
  margin: 150px auto;
  border: solid 1px #EDEFED;
  position: relative;
  overflow: hidden;
  margin-bottom: 250px;
}

.login_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}
.login_text {
  margin: 20px 4%;
}
.login_btn {
  margin: 20px 4% 0 4%;
}

.password_reset {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.login_message {
  margin: 20px 4%;
}


/* ========================================
  新着記事一覧
======================================== */
.new_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
}
.new_post_wrapper {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 20px;
    border: 1px solid #EDEFED;
}
.new_post_list {
    height: 250px;
    background-color: #BBBBBB;
}
.img_scroll {
    position: absolute;
    z-index: 2;
    top: 48%;
}

.next {
    right: 1%;
}
.prev {
    left: 1%;
}

.img_description {
    height: 100px;
}

.good_field {
    overflow: hidden;
}

.good_field div{
    float: left;
    margin: 1%;
}
.good_field_text {
}
.good_field_icon {
}


/* ========================================
  記事詳細ページ
======================================== */
.article_detail_box {
    overflow: hidden;
    width: 80%;
    padding-top: 70px;
    margin: 0 auto;
}

.article_img {
    height: auto;
    padding-top: 50px;
    overflow: hidden;
}
.article_detail_nickname_title {
    background-color: #BBBBBB;
    padding: 10px 0;
    padding-left: 3%;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
.article_detail_nickname_title_left {
    float: left;
    width: 70%;
    padding-top: 10px;
}
.article_detail_nickname_title_right {
    float: right;
    padding-right: 3%;
    overflow: hidden;
    width: 30%;
}
.article_detail_nickname_title_right img {
    width: 40px;
    height: 40px;
}
.article_detail_nickname_title_right_img {
    float: right;
    margin-right: 2%;
}
.article_detail_nickname_title_right_name {
    float: right;
    margin-left: 2%;
    margin-top: 5px;
}
.article_img_content {
    background-color: black;
    text-align: center;
    height: auto;
}
.article_img_content img {
    max-width: 85%;
    height: auto;
}
.article_img_footer {
    background-color: #BBBBBB;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.article_img_footer_good_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_good_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}
.article_img_footer_comment_field {
    float: left;
    border-right: 1px solid black;
    padding: 10px 2%;
}
.article_img_footer_comment_field:hover {
    background-color: #ABCD03;
    cursor: pointer;
}

.article_detail_description {
    border: 1px solid #C1C6C4;
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 10px 3%;
    border-radius: 0 0 10px 10px;
}

/*//////////////コメント・タグ///////////*/
.article_detail_comment_tag_field {
    width: 100%;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}

/*コメント*/
.article_detail_comment {
    width: 67%;
    height: auto;
    margin-right: 3%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: left;
}
.article_detail_comment_header {
    padding: 10px 0 10px 2%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_comment_body {
    padding: 10px 2%;
    border-bottom: 1px dotted #C1C6C4;
    overflow: hidden;
}

.article_detail_comment_body img{
    float: left;
}

.article_detail_comment_body p {
    color: #BBBBBB;
}

.article_detail_comment_body_content {
    float: left;
    margin-left: 2%;
}


.article_detail_comment_body img {
    width: 50px;
    height: 50px;
}
.article_detail_comment_footer {
    margin: 10px 2%;
}
.article_detail_comment_footer input {
    margin: 10px 0;
}

.article_detail_comment_body_date {
    margin: 0;
    margin-top: 5px;
}

/*タグ*/
.article_detail_tag {
    width: 30%;
    border: 1px solid #C1C6C4;
    border-radius: 10px;
    float: left;
}

.article_detail_tag_header {
    padding: 10px 0 10px 5%;
    border-bottom: 1px solid #C1C6C4;
}

.article_detail_tag_content {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
}
.article_detail_tag_content li {
    border: 1px solid #C1C6C4;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    background-color: #E9F8EF;
    float: left;
    margin: 3px;
}

/* ========================================
  マイページ
======================================== */
.mypage_list {
  margin-top: 100px;
}

/* ========================================
  記事投稿
======================================== */
.a_p_box {
  width: 70%;
  height: auto;
  margin: 100px auto;
}

.photo_zone_text {
  font-size: 18px;
  font-weight: bold;
}

.a_p_box_title {
  font-size: 20px;
  padding: 10px 5%;
  background-color: #EDEFED;
}

#addImages {
  margin-top: 30px;
}

#upload_btn {
  width: 20%;
  display: block;
  margin: 20px auto;
}

/* ========================================
  フッター
======================================== */
footer {
  width: 100%;
  background-color: #FF6600;
  color: white;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 0;
  padding: 20px 0;
}
